@model IEnumerable<CumulatievePart1.Models.Course>

<h1>Course List</h1>
<a href="/CoursePage/New" class="btn btn-primary btn-sm">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Start Date</th>
            <th>Finish Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseId</td>
                <td>@course.CourseCode</td>
                <td>@course.CourseName</td>
                <td>@course.StartDate.ToShortDateString()</td>
                <td>@course.FinishDate.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("Show", "CoursePage", new { id = course.CourseId })">View Details</a><br>

                    <a href="/CoursePage/DeleteConfirm/@course.CourseId"> Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>